<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1> Menu Sections </h1>

<%= link_to "Sort Menu Sections by Number of Items", "/sections?num_sort=active", method: :get %>

<% @sections.each_with_index do |section, index| %>
    <div id="section-<%= index %>">
        <p>
        <b><%= section.name %></b>

        <span id="section-<%= index %>b">  Created at: <%= section.created_at %></span> 

        <% if @num_sort == "active" %>
            <p>Number of Items in Section: <%= section.items.count %></p>
        <% end %>

        <span id="section-<%= index %>c">
        <%= button_to "Edit #{section.name}", "/sections/#{section.id}/edit", method: :get %> 
        <br>
        <%= button_to "Delete #{section.name}", "/sections/#{section.id}", method: :delete %></span>
        </p>
    </div>
    <br>
<% end %>

<br>

<%= link_to "Create New Menu Section", "/sections/new"%>