<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1><%= @section.name %></h1>
<p><b> Vegan Options Available? </b><%= @section.vegan_options %></p>
<p><b> Labor Intensity Required: </b><%= @section.labor_intensity %></p>
<p><b> Items in Section: </b><%= @count %></p>

<a href="/sections/<%= @section.id %>/items">See All Items in this Menu Section</a> <br><br>

<%= link_to "Update This Menu Section", "/sections/#{@section.id}/edit"%>
<br><br>
<%= button_to "Delete This Menu Section", "/sections/#{@section.id}", method: :delete %>




