<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1>Menu Items</h1>
<% @items.each_with_index do |item, index| %>
    <h3><%= item.name %></h3>
    <p>Menu Section: <%= item.section.name %></p>
    <p>Needs Restock: <%= item.need_restock %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <div id="section-<%= index %>">
        <%= button_to "Edit #{item.name}", "/items/#{item.id}/edit", method: :get %>
        <br>
        <%= button_to "Delete #{item.name}", "/items/#{item.id}", method: :delete %>
    </div>
<% end %>
