<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1><%= @item.name %></h1>
<p>Menu Section: <%= @item.section.name %></p>
<p>Needs Restock: <%= @item.need_restock %></p>
<p>Price: <%= number_to_currency(@item.price) %></p>

<%= link_to "Update Item Details", "/items/#{@item.id}/edit" %>
<br><br>
<%= button_to "Delete Item", "/items/#{@item.id}", method: :delete %>
