<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1><%= @section.name %></h1>
<% @items.each do |item| %>
    <h4><%= item.name %></h4>
    <p>Restock Needed: <%= item.need_restock %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
<% end %>

<%= link_to "Add New Menu Item to #{@section.name} Section", "/sections/@section.id/items/new" %>