<div id="top-of-page">
<a href="/items">See All Items</a>&emsp;<a href="/sections">See All Menu Sections</a>
</div>

<h1><%= @section.name %> Menu Items</h1>
<% @items.each_with_index do |item, index| %>
    <div id="item-<%= index %>">
    <h4><%= item.name %></h4>
    <p>Restock Needed: <%= item.need_restock %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <%= button_to "Edit #{item.name}", "/items/#{item.id}/edit", method: :get %> <br>
    </div>
<% end %>

<%= link_to "Add New Menu Item to #{@section.name} Section", "/sections/#{@section.id}/items/new" %><br><br>

<%= button_to "Sort Items in Alphabetical Order", "/sections/#{@section.id}/items?sort=active" %>
