<h1>New Menu Item for the <%= @section.name %> Section </h1>

<%= form_with url: "/sections/#{@section.id}/items", method: :post, local: true do |form| %>
    <%= form.label :name, "Menu Item Name:" %>
    <%= form.text_field :name %><br><br>

    <%= form.check_box :need_restock %>
    <%= form.label :need_restock, "Does the menu item or its ingredients need to be restocked? Check if yes." %><br><br>

    <%= form.label :price, "Menu Item Price: $" %>
    <%= form.number_field :price %><br><br>
    

    <%= form.submit "Submit" %>
<% end %>